<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.fees.FeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.classmanager.ClassManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.UserFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.auth.StudentSignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.attendance.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>